<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="src">
        <dir
          name="main">
          <dir
            name="java">
            <dir
              name="comments">
              <file
                name="AnotherCommentedClass.java"/>
              <file
                name="CommentedClass.java"/>
            </dir>
            <dir
              name="types">
              <file
                name="ExampleExtra.java"/>
              <file
                name="ExampleFields.java"/>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="D:/SPLGroup/SPLDevelopment3.0/extlibs/java/jdk/jdk8/alt-rt.jar"/>
      <class_path
        path="D:/SPLGroup/SPLDevelopment3.0/extlibs/java/jdk/jdk8/javax.jms-api-2.0.1.jar"/>
      <class_path
        path="D:/SPLGroup/SPLDevelopment3.0/extlibs/java/jdk/jdk8/javax.persistence-api-2.2.jar"/>
      <class_path
        path="D:/SPLGroup/SPLDevelopment3.0/extlibs/java/jdk/jdk8/javax.servlet-api-4.0.1.jar"/>
      <class_path
        path="D:/SPLGroup/SPLDevelopment3.0/extlibs/java/jdk/jdk8/javax.servlet.jsp-api-2.3.3.jar"/>
      <class_path
        path="D:/SPLGroup/SPLDevelopment3.0/extlibs/java/jdk/jdk8/javax.transaction-api-1.3.jar"/>
      <class_path
        path="D:/SPLGroup/SPLDevelopment3.0/extlibs/java/jdk/jdk8/javax.validation-api-2.0.1.jar"/>
      <class_path
        path="D:/SPLGroup/SPLDevelopment3.0/extlibs/java/jdk/jdk8/jce.jar"/>
      <class_path
        path="D:/SPLGroup/SPLDevelopment3.0/extlibs/java/jdk/jdk8/junit-4.13.1.jar"/>
      <class_path
        path="D:/SPLGroup/SPLDevelopment3.0/extlibs/java/jdk/jdk8/rt.jar"/>
    </class_paths>
  </java_options>
</project>
