<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="SPLWebApplicationID" version="3.0">

    <display-name>SPLWebApplication</display-name>

    <!--
        This listener is used to insert in 'application.properties' a new entry with name
        'spring.app.root' containing the loca directory, home of the webapp
      -->
    <listener>
        <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
    </listener>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>spring.app.root</param-value>
    </context-param>

    <!--
        Log4j v2
        see: https://logging.apache.org/log4j/2.x/manual/webapp.html
      -->
    <context-param>
        <param-name>log4jConfiguration </param-name>
        <param-value>/WEB-INF/log4j2.xml</param-value>
    </context-param>

    <!--
        global contextConfigLocation:
            it seems necessary.
            For default it is read the file '/WEB-INF/applicationContext.xml'
      -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <!--
            Standard Spring configuration
      -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>mvc-dispatcher-servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

        <!--
            contextConfigLocation:
                if not specified, it is read the file '/WEB-INF/<servlet-name>.xml'
          -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher-servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
